/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');*/

/* Variables */
:root {
	--main-color: #007bff;
	--nav-gradient: linear-gradient(170deg, rgba(0, 123, 255, 1) 0%, rgba(156, 0, 230, 1) 95%);
	--nav-gradient-webkit: -webkit-linear-gradient(170deg, rgba(0, 123, 255, 1) 0%, rgba(156, 0, 230, 1) 95%);
	--nav-gradient-moz: -moz-linear-gradient(170deg, rgba(0, 123, 255, 1) 0%, rgba(156, 0, 230, 1) 95%);
}

body {
	/*
	background-image: url("img/binary.jpg");
	background-attachment: fixed;
	*/
	font-family: 'Nunito', sans-serif;

}

a {
	color: rgb(253, 23, 61);
	text-decoration: underline;
}

a:visited {
	color: rgb(182, 2, 92);
	text-decoration: underline;
}

/*div.title a,
div.my-stuff a {
	color: rgb(255, 223, 223);
	text-decoration: underline;
}
div.title a:visited,
div.my-stuff a:visited {
	color: rgb(180, 180, 180);
	text-decoration: underline;
}*/

code,
pre {
	padding: 3px;
	font-size: inherit;
	background-color: rgba(0, 0, 0, 0.051);
	border-radius: 4px;
}

h1,
h3 {
	font-family: "Raleway", sans-serif;
}

div.title {
	color: #fff;
	padding: 1rem;
	background-color: var(--main-color);
	width: 100%;
	margin-bottom: 30px;
	border-radius: 10px;
}

div.content {
	background-color: #f0f0f0;
	background-image: linear-gradient(#f0f0f0, #ebebeb, #ebebeb, #ebebeb, #bebebe);
	border-color: #6d6d6d;
	border-width: 1px;
	border-radius: 3px;
	border-style: solid;
	font-size: 14pt;
	margin-bottom: 100px;
}



p.note {
	border: #f7d40e solid 1px;
	border-radius: 5px;
	background-color: #f8e473;
	padding: 3px;
}

kbd {
	text-shadow: 0px 0px 5px white;
	box-shadow: 1px 1px #40474e, 2px 2px #40474e;
}

code,
pre,
kbd {
	font-family: Fira Mono;
}

div.my-stuff {
	background-color: var(--main-color);
	width: 100%;
	color: white;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 5px 5px 0px 0px white, 5px 5px 0px 2px grey;
	animation: my-stuff-hover-off 0.25s ease forwards;
}

div.my-stuff:hover {
	animation: my-stuff-hover 0.25s ease forwards;
}

div.content-2 {
	margin-bottom: 100px;
	padding: 0px;
}

div.main {
	margin-top: 80px;
}

.c-nav {
	background: var(--main-color);
	background: var(--nav-gradient-moz);
	background: var(--nav-gradient-webkit);
	background: var(--nav-gradient);
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.397);
}


.nav-link {
	color: rgba(255, 255, 255, 1) !important;
	text-decoration: unset;
}

.nav-link:hover {
	text-shadow: 0px 0px 2px white;
	background-color: rgba(0, 0, 0, 0.13);
	border-radius: 5px;
}

.navbar-toggler {
	border-color: rgba(0, 0, 0, 0) !important;
}

div.noscript {
	margin: 10px;
	padding: 5px;
	border: 2px crimson solid;
	border-radius: 4px;
	background-color: rgb(255, 150, 171);
}

.big-text {
	text-align: center;
	color: dodgerblue;
	font-size: 64pt;
}

/* Media Queries */
@media screen and (min-width: 768px) {
	.c-nav {
		height: 50px;
	}
}

/* Animations */
@keyframes my-stuff-hover {
	0% {
		box-shadow: 5px 5px 0px 0px white, 5px 5px 0px 2px grey;
	}

	100% {
		box-shadow: 10px 10px 0px 0px white, 10px 10px 0px 2px grey;
	}
}

@keyframes my-stuff-hover-off {
	0% {
		box-shadow: 10px 10px 0px 0px white, 10px 10px 0px 2px grey;
	}

	100% {
		box-shadow: 5px 5px 0px 0px white, 5px 5px 0px 2px grey;
	}
}