@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
	/*
	background-image: url("img/binary.jpg");
	background-attachment: fixed;
	*/
	font-family: 'Roboto Slab', serif;
}

a {
	color: rgb(245, 56, 31);
	text-decoration: underline;
}
a:visited {
	color: rgb(184, 21, 0);
	text-decoration: underline;
}
a.nav-link {
	text-decoration: unset;
}

.c-shadow {
	box-shadow: 0 1rem 3rem rgba(10, 23, 27, 0.51) !important;
}

.c-shadow-circ {
	box-shadow: 0 0 36px rgba(10, 23, 27, 0.51);
}

code, pre {
	padding: 3px;
	font-size: inherit;
	background-color: rgba(0, 0, 0, 0.051);
	border-radius: 4px;
}

div.content {
	background-color: #f0f0f0;
	background-image: linear-gradient(#f0f0f0, #ebebeb, #ebebeb, #ebebeb, #bebebe);
	border-color: #6d6d6d;
	border-width: 1px;
	border-radius: 3px;
	border-style: solid;
	font-size: 14pt;
}

p.note {
	border: #f7d40e solid 1px;
	border-radius: 5px;
	background-color: #f8e473;
	padding: 3px;
}